@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-bg {
  background: url("/sphere.webp") no-repeat 50% 50%;
  background-color: rgb(85, 70, 255);
  background-size: cover;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

::-webkit-scrollbar {
  display: none;
}
